
<div class="modal fade rounded-4" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h2 class="fw-bold mb-0">Add Auction</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0">
            <form class="" _lpchecked="1">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-3" id="bidTitle" placeholder="title" autocomplete="off">
                    <label for="bidTitle">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Add Description" id="bidDescription" style="height: 100px"></textarea>
                    <label for="bidDescription">Description</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-3" id="bidStartPrice" placeholder="startingBid"  autocomplete="off">
                    <label for="bidStartPrice">Starting Price Bid</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select" id="bidDuration" aria-label="Select bid time duration">
                      <option selected>Select Hours</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                    </select>
                    <label for="bidDuration">Bid Duration</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-3" id="bidByingPrice" placeholder="bidPrice"  autocomplete="off">
                    <label for="bidByingPrice">Buying Price</label>
                </div>

                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Create</button>
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                
            </form>
            </div>
        </div>
    </div>
</div>