<div class="auctions-container">
    <h1>Auctions</h1>
    <table class="rwd-table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Time Left</th>
        </tr>
        <tr>
            <td data-th="Supplier Code">
                UPS5005
            </td>
            <td data-th="Supplier Name">
                UPS
            </td>
            <td data-th="Invoice Number">
                ASDF19218
            </td>
            <td data-th="Invoice Date">
                06/25/2016
            </td> 
        </tr>
        <tr>
            <td data-th="Supplier Code">
                UPS3449
            </td>
            <td data-th="Supplier Name">
                UPS South Inc.
            </td>
            <td data-th="Invoice Number">
                ASDF29301
            </td>
            <td data-th="Invoice Date">
                6/24/2016
            </td>
        </tr>
        <tr>
            <td data-th="Supplier Code">
                BOX5599
            </td>
            <td data-th="Supplier Name">
                BOX Pro West
            </td>
            <td data-th="Invoice Number">
                ASDF43000
            </td>
            <td data-th="Invoice Date">
                6/27/2016
            </td>
        </tr>
        <tr>
            <td data-th="Supplier Code">
                PAN9999
            </td>
            <td data-th="Supplier Name">
                Pan Providers and Co.
            </td>
            <td data-th="Invoice Number">
                ASDF33433
            </td>
            <td data-th="Invoice Date">
                6/29/2016
            </td>
        </tr>
    </tbody>
    </table>
</div>